.mx-auto{
    margin-left: auto;
    margin-right: auto;
}

.img-circle{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    
}

.object-fit-cover {
    object-fit: cover;
}

.height-s5 {
    height: 360px;
}

.height-s3 {
    height: 180px;
}

.height-s4 {
    height: 100px;    
}